div.fakeimg img{
    height: 12.5em;
    width: 18.1em;
    
}

div#Left-Column.col-sm-4{
    border: black;
    border-radius: 2px;
    border-width: 5px;
}
html{
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}